@import 'node_modules/node-normalize-scss/_normalize.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
}

.container {
  width: 100%;

  @media only screen and (min-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
}

.Footer {
  background-color: #2c3e50;
  text-align: center;
  color: #fff;

  &-text {
    //a11y screen reader - ignore text
    speak: none;
  }
}

@import 'styles/_index.scss';
@import 'styles/_accessibility.scss';
@import 'styles/_demo1.scss';
@import 'styles/_demo2.scss';
@import 'styles/_demo3.scss';
@import 'styles/_demo4.scss';
