@import 'node_modules/node-normalize-scss/_normalize.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  min-height: 100vh;
}

.container {
  width: 100%;

  @media only screen and (min-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  @media only screen and (min-width: 1920px) {
    .Accessibility & {
      width: 1900px;
    }
  }
}

.A11y-hidden {
  display: none;
  visibility: hidden;
}

@import 'styles/_index.scss';
@import 'styles/_demo1.scss';
@import 'styles/_demo2.scss';
@import 'styles/_demo3.scss';
@import 'styles/_demo4.scss';
