.Accessibility--demo3 {
  header h1 {
    text-align: center;
  }

  table, tr {
    width: 100%;
    max-width: 100%;
  }

  th, td {
    width: calc(100% / 5);
    padding: 15px;
  }

  th, td {
    text-align: center;

    &:first-child {
      width: auto;
      text-align: right;
    }

    &:nth-child(2n+1) {
      background-color: #eee;
    }

    &:nth-child(2n) {
      background-color: #ddd;
    }
  }

  code {
    display: block;
    text-align: left;
  }

  .SectionBatman {
    margin-bottom: 20px;
  }
}
