.Landingpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .Header {
    background-color: #c0392b;

    &-title {
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      color: #fff;
    }
  }

  .Navigation {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;


    &-button {
      margin: 5px 25px;
      border: 1px solid #000;
      border-radius: 3px;

      @media only screen and (min-width: 1024px) {
        display: none;
      }

      &[aria-expanded="true"] {
        .Navigation-buttonBar--first {transform: rotate(-45deg) translate(-9px, 7px);}
        .Navigation-buttonBar--mid {opacity: 0;}
        .Navigation-buttonBar--last {transform: rotate(45deg) translate(-8px, -8px);}
      }
    }

    &-buttonBar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    &-list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      @media only screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
      }
    }

    &.Navigation--closed .Navigation-list {
      display: none;

      @media only screen and (min-width: 1024px) {
        display: flex;
      }
    }

    &-listItem {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
      border-top: 1px solid #000;
      
      @media only screen and (min-width: 1024px) {
        border-top: none;
      }
    }

    &-listLink {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;

      @media only screen and (min-width: 1024px) {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .MainContent {

    &-list {

      list-style-type: none;
      padding-left: 0;

      @media only screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      &Item {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        @media only screen and (min-width: 1024px) {
          flex-basis: calc(50% - 40px);
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }

  .Article {
    display: block;
    padding: 10px 20px;
    border: 1px solid #2c3e50;

    &-title {
      color: #2c3e50;
    }

    &-list {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .FlexboxFiller {
    display: block;
    border: none;
    flex-grow: 1;
  }
}
