.Landingpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .Header {
    background-color: #c0392b;

    &-title {
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      color: #fff;
    }
  }

  .MainContent {

    &-list {

      list-style-type: none;
      padding-left: 0;

      @media only screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      &Item {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        @media only screen and (min-width: 1024px) {
          flex-basis: calc(50% - 40px);
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }

  .Article {
    display: block;
    padding: 10px 20px;
    border: 1px solid #2c3e50;

    &-title {
      color: #2c3e50;
    }

    &-list {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .FlexboxFiller {
    display: block;
    border: none;
    flex-grow: 1;
  }
}
